body {
  background: #333;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  color: #fff;
}

/* Table styles */
tbody {
  background: rgba(255, 255, 255, .1);

}
tbody tr:hover {
  color: #333;
  text-shadow: none;
}
a {
  color: #fff;
}
a:hover {
  color: #ddd;
}
.hidden {
  display: none;
}

.title {
  letter-spacing: 2px;
}
.primary-heading,
.sub-heading {
  color: #fafafa;
}
.sub-heading {
  margin-top: 5px;
}


.social-media {
  padding-left: 10px;
  font-size: 36px;
}
.inline {
  display: inline-block;
}


.board-level,
.board-points {
  display: inline-block;
}
.board-points {
  margin-left: 20px;
}
.game-board {
  height: 110px;
  width: 180px;
  margin: 0 auto;
  padding: 14px;
  background: rgba(255, 255, 255, .1);
  border: 1px solid #aaa;
  font-size: 52px;
  letter-spacing: 2px;
}

.game-instructions {
  padding-top: 10px;
}

/* Game Notification Styles */
#game-canvas {
/*  position: absolute;*/
}
.game-notification {
  display: none;
  position: absolute;
  width: 505px;
  height: 83px;
  margin: 50px 0 0;
  background: rgba(0, 255, 0, .6);
}
.notify-bad {
  background: rgba(255, 0, 0, .6);
}
.game-lives {
  position: absolute;
  bottom: 30px;
  padding-left: 10px;
  font-size: 56px;
  color: rgba(255, 0, 0, .8);
}
.fa-heart {
  margin-left: -10px;
}
/* Modal Styles */
.modal {
  color: #333;
}
.modal h3:first-child {
  margin-top: 0;
}

/* Scoreboard */

/* High scores table container */
.high-scores {
  width: 385px;
  margin: 0 auto;
}


/* Form Styles */
form {
  width: 75%;
  margin: 0 auto;
}
#form-container {
  height: 606px;
  width: 505px;
  padding-top: 100px;
}
